.sidebar {
    position: fixed;
    left: 0;
    top: 64px;
    width: 256px;
    height: calc(100vh - 64px);
    background: var(--side-bar-bg);
    display: flex;
    flex-direction: column;
    padding: var(--sp-16);
    gap: var(--sp-8);
    font-family: var(--font-body);
}

.sidebar-header {
    padding: var(--sp-16) var(--sp-16) var(--sp-24);
}

.sidebar-header h3 {
    font-size: var(--fs-12);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--Light_mode-Gray_Scale-40);
}

.sidebar-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--sp-4);
    color: var(--primary-200);
}

.sidebar-bottom button {
    width: 100%;
}
.sidebar-bottom .logout-btn {
    background-color: transparent;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: var(--sp-12);
    padding: var(--sp-12) var(--sp-16);
    border-radius: var(--radius-8);
    text-decoration: none;
    font-size: var(--fs-14);
    font-weight: 500;
    transition: all 0.2s;
}
.nav-item i {
    color: var(--primary-900);
}
.nav-item.active {
    background-color: var(--primary-white);
    color: var(--primary-900);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    font-weight: 700;
}

/* Overlay nền mờ */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4); /* nền đen mờ */
    backdrop-filter: blur(2px);

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease;
    z-index: 40;
}

/* Khi mở sidebar */
.sidebar-overlay.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 99999;
    }

    .sidebar.open {
        transform: translateX(0);
    }
}
@media (max-width: 480px) {
    .sidebar {
        width: 80%;
    }
}
